fair-esm==1.0.2
fairscale==0.4.10
ipdb==0.13.9
matplotlib==3.5.1
optuna==2.10.0
pandas==1.4.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
tensorboard==2.8.0
torch==1.11.0
torch-tb-profiler==0.4.0
torchaudio==0.11.0
torchvision==0.12.0
tqdm==4.64.0
